@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    width: 1140px;
    margin: auto;
    color: #FC5812;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font: size 36px; ;
}

ul li{
    list-style-type: none;
}

ul{
    width: 350px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

main{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem{
    border: solid 2px blue;
}

.textos{
    width: 550px;
    text-align: center;
}

footer{
    width: auto;
    height: 100px;
    color: white;
    background-color: #FC5812;
    display: flex;
    flex-direction: column;
    align-items: center;
}